################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CustomerServiceMobile/v15
/CustomerServiceMobile/obj
/CustomerServiceMobile.Android/obj
*.user
